[submodule "external/tree-sitter-cpp"]
	path = external/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp.git
[submodule "external/hnswlib"]
	path = external/hnswlib
	url = https://github.com/nmslib/hnswlib.git
